.map-container{
   
}

#map{
    background: none;
    height: 500px;
    width: 100%;
}

.leaflet-label {
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
}


.Staten-Island{
    /* background-color: black; */
}

.Staten-Island div{
    margin: -30px 0px 0px -20px;
}

.Manhattan{
    font-size: 18px;
}
.Manhattan div{
    /* Use similar styling to move around other divs.  */
    /* border: 1px solid black; */
    margin:-20px 0px 0px -60px;
    transform: rotate(300deg);
}

.Bronx{

}

.Bronx div{
    margin: -10px 0px 0px -35px;
}

.Queens{

}
.Queens div{
    margin: -60px 0px 0px -30px;
}

.Brooklyn{

}

.Brooklyn div{
    margin: -10px 0px 0px -40px;
}