.page-wrap{
    height: 100vh;
    background: lightblue;
}
.app-name{
    position: absolute;
    margin: 15px 0px 0px 15px;
    font-weight: lighter;
    /* color: ; */
}

.app-name-link{
    color: black;
}

.about-link{
    color: black;
}
.about-link-head{
    position: absolute;
    margin-top: 20px;
    right: 5%;
}